body{
    font-family: 'Courier New', Courier, monospace;
    background-image: url('./assets/fundo.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
}

#avisos{
    background: rgb(233, 201, 141);
    box-shadow: 0 0 1em black;
    width: 950px;
    height: 150px;
    margin: 5px;
    padding: 10px;
}

#novo{
    display: flex;
    flex-direction: row;
}

#novo textarea{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    width: 400px;
    height: 40px;
}

#novo input{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    width: 180px;
    height: 40px;
}

#novo select{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    width: 180px;
    height: 45px;
}

#novo input[type=button]{
    border: none;
    box-shadow: 0 0 5px black;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: bold;
    width: 150px;
    height: 60px;
    margin: 10px;
    cursor: pointer;
}

#mural{
    background: rgb(233, 201, 141);
    background-size: 970px 620px;
    box-shadow: 0 0 1em black;
    width: 950px;
    height: 600px;
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}

::-webkit-scrollbar{
    background: rgba(49, 34, 3, 0.5);
}
.card {
    box-shadow: 0 0 1em black;
    font-size: medium;
    width: 300px;
    height:190px;
    margin: 5px;
}
.Normal{
    background: rgb(233, 201, 141);
}

.Importante{
    background: rgb(199, 140, 12);
}

.Urgente{
    background: rgb(238, 106, 29);
}

.fechar{
    font-size: large;
    font-style: italic;
    color: white;
    margin: 5px;
    background: transparent;
    border: none;
    cursor:pointer;
}

p{
    text-align: center;
}
a{
    text-decoration: none;
    color:#000;
}