* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.header {
    /*viewport width height*/
    width: 100vw;
    height: 45vh;
    background-image: radial-gradient(circle, rgb(165, 98, 253), rgb(130, 35, 253));
}

ul {
    list-style: none;
}

.topo {
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
}

.header>.topo>nav>ul>li,
#logotemp {
    display: inline-block;
    margin-left: 10px;
    color: white;
    font-size: 1.5em;
}

#logo,
#logotemp {
    width: 50px;
    height: 50px;
    font-size: 0.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #FFF;
    border-radius: 100%;
}

#logotemp {
    display: none;
    font-size: 1.15em;
}

button {
    background: none;
    cursor: pointer;
    color: white;
    font: inherit;
    padding: 15px;
    border: 1px solid white;
    border-radius: 10px;
    transition: 0.2s;
}

button:hover {
    background-color: #FFF;
    color: rgb(87, 87, 87);
}

.info {
    color: white;
    margin: 5% 15%;
}

.info>h3 {
    font-size: 3.5em;
}

.info>h5 {
    font-size: 2em;
    margin-bottom: 20px;
}

.planos {
    width: 60vw;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.plano {
    margin-top: 5%;
    width: 15vw;
    height: 30vh;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 15px;
    animation: animacao 0.5s;
}

.plano>p {
    text-align: center;
    font-size: 1.5em;
    margin-top: 8%;
}

.infoplan {
    width: 100%;
    height: 75%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgb(130, 35, 253);
    color: rgb(187, 187, 187);
    padding: 10%;
}

.infoplan>ul>li {
    font-size: 1.25em;
}

.infoplan>ul>li>h3 {
    font-size: 1.5em;
}

@media (max-width: 600px) {
    .header>.topo>nav {
        display: none;
    }
    #logotemp {
        display: flex;
    }
}

@media (max-width: 450px) {
    .info {
        margin-top: 15%;
    }
    .info>h3 {
        font-size: 2.5em;
    }
    .info>h5 {
        font-size: 1.5em;
        margin-bottom: 20px;
    }
}

@keyframes animacao {
    0% {
        margin-right: 15%;
        opacity: 0;
    }
    100% {
        margin-right: 0%;
        opacity: 1;
    }
}