@charset "UTF-8";

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center
}

table {
	border: 1px solid #ccc;
}

tr:nth-child(even) {
	background: #FFF
}

tr:nth-child(odd) {
	background: #EEE
}

th {
	background: #999;
	font-style: bold;
	color: #FFF;
	padding: 10px;
}

td {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 5px;
}

form {
	border: 1px solid #ccc;
	border-radius: 4px;
	display: grid;
	grid-template-columns: 150px 250px;
	padding: 10px;
}

label {
	margin: 10px;
}

input {
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 5px;
	padding: 10px;
}

input[type=submit], input[type=reset] {
	cursor: pointer;
}

a {
	text-decoration: none;
	border: 1px solid #ccc;
	background: #eee;
	color: #111; border-radius : 5px;
	margin: 5px;
	padding: 10px;
	border-radius: 5px;
}

div {
	margin: 5px;
	padding: 10px;
}