* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#btlogin, #email {
    width: 30vw;
    height: 4vh;
}

#btlogin {
    margin-top: 1%;
    background: none;
    outline: none;
    border: .5px solid gray;
    background-image: linear-gradient(to bottom right, #d386fc, #ab34eb);
    color: #FFF;
    cursor: pointer;
    border-radius: 5px;
}

#btlogin:hover {
    background-image: linear-gradient(to bottom right, #ab34eb, #d386fc);
}