@charset "UTF-8";
body{
	font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
	display: grid;
	grid-template-columns: 300px 500px;
    margin: 10px;
}

form input{
	border: 1px solid #ccc;
    border-radius: 5px;
    width: auto;
    height: 30px;
    margin: 5px;
}

button{
	border: 1px solid #ccc;
    border-radius: 5px;
    width: auto;
    height: 30px;
    margin: 5px;
    cursor: pointer;
}

.msg{
	border: 1px solid #f00;
	border-radius: 5px;
	width: 800px;
	height: 30px;
	background-color: #fcc;
    margin: 10px;
}

table{
    border: 1px solid #f00;
    border-radius: 5px;
	min-width: 800px;
    margin: 10px;
}