@charset "UTF-8";

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center
}

form {
	border: 1px solid #ccc;
	border-radius: 4px;
	display: grid;
	grid-template-columns: 150px 250px;
	padding: 10px;
}

label {
	margin: 10px;
}

input, select, button {
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 5px;
	padding: 10px;
}

button {
	cursor: pointer;
}

.pedidos{
	border: 1px solid #ccc;
	border-radius: 4px;
	display: grid;
	grid-template-columns: 300px 300px;
	padding: 10px;
	margin: 10px
}

.card{
	display: grid;
	grid-template-columns: 150px 100px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 5px;
	padding: 10px;
}

.producao .card{
	background: #eee;
}

.entrega .card{
	background: #ddd;
}